/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */



h2 {
    font-size: 32px;
    position:relative;
    padding:10px 5px;
    display: inline-block;
    color: #474A48;
}


.container-home {
  position: relative;
}


