.top-margin {
  margin-top: 5%;
}

.content-form {
  height: 400px;
}

.rating-change {
  display: none;
}

.review-form {
  margin-top: 10px;
}

.custom-form {
  width: 250px;
  height: 100px;
}

.size-it {
  height: 45vh;
  width: 100%;
  padding: 2px;
  margin: 1px;
  border-radius: 10px;
  border-color: lightgrey;
}

.review-input-height {
  height: 80vh;
}

@media (max-width: 700px) {
  .star-rating-rev-new {
    margin-top: 80px;
  }
}
