.top-margin {
  margin-top: 5%;
}

.content-form {
  height: 400px;
}

.movie-poster {
  margin-top: 20px;
}

.review-form {
  margin-top: 10px;
}

.custom-form {
  width: 250px;
  height: 100px;
}

.review-input-height {
  height: 80vh;
}

@media (max-width: 700px) {
  .star-rating-rev-new {
    margin-top: 80px;
  }
}
