.top-margin {
  margin-top: 0% !important;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.rating-change {
  display: none;
}

.review-form {
  margin-top: 10px;
}

.custom-form {
  width: 250px;
  height: 100px;
}

@media (min-width: 700px) {
  .size-it {
    min-height: 300px;
    width: 100%;
    padding: 2px;
    margin: 1px;
    border-radius: 10px;
    border-color: lightgrey;
  }
}


.review-input-height {
  height: 80vh;
}

@media (max-width: 700px) {
  .star-rating-rev-new {
    margin-top: 80px;
  }
  .size-it {
    height: 250px;
    width: 100%;
    padding: 2px;
    margin: 1px;
    border-radius: 10px;
    border-color: lightgrey;
  }
}

