<section id='highrated' class='selector'>
  <div class="container">
    <h1> Highest Rated Reviews</h1>
    <div class="row">
      <% if @highest_reviews %>
      <% @highest_reviews.each do |review| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <div class="card-background">
            <div class="card-title">
              <h3>
                <%= review.title %>,
              </h3>
              rated: <%= review.rating %>
              <p>
                by <%= review.user.email   %>
              </p>
            </div>

            <div class="card-content">
              <p>
                <%= review.content %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% else %>
      <h2>
       Not a single review has been rated
     </h2>
     <% end %>
   </div>
 </div>

</section>
