

<div class="container">
  <div class="row">
  <div class="col-xs-4">
      <h2>
        Archive
      </h2>
      <div class="scrollbox">
        <div class="list">
          <% @movies.each do |movie| %>
          <div class="list-item">
           <%= link_to "#{movie.title}", movie_path(movie), class: "super-btn" %>
         </div>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>

<div class="content-review-index">

</div>
<!--
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <h1>
            All the Movies
          </h1>


        </div>
      </div>
    </div>
  </div> -->

  <%# if policy(Movie).create? %>
  <%#= link_to 'Add a Movie', new_movie_path, class: "btn btn-primary" %>
  <%# end %>
