<div class="container">
  <div class="row">
   <% @newest_reviews.each do |review| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card text-center">
        <div class="card-header">
          <h3>
            <%= review.title %>
          </h3>
        </div>
        <div class="card-block">
          <div class="card-text">
              <p>
                <%= review.content[0..50] %>
              </p>
              <footer>
                <cite>
                 <%= review.rating %>
               </cite>
              </footer>
          </div>
        </div>
        <div class="card-btns">
          <%= link_to "See more", movie_review_path(review.movie, review), class: "btn vegan-btn" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
