

<div class="container">
<h1> Our latest Reviews! </h1>
  <div class="row">
    <% @newest_reviews.each do |review| %>
    <div class="col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-background">
          <div class="card-title">
            <h3>
              <%= review.title %>,
            </h3>
            rated: <%= review.rating %>
            <p>
              by <%= review.user.email   %>
            </p>
          </div>

          <div class="card-content">
            <p>
              <%= review.content %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
