<% if @movie.reviews.empty? %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <%= link_to 'Add a review', new_movie_review_path(@movie), class: "btn vegan-btn" %>
    </div>
  </div>
</div>
<% end %>

<% @reviews.each_with_index do |review, i| %>

  <% if i == 0 %>
    <div class="next-method current-element">
      <%= render 'reviews/review', review: review, i: i %>
    </div>

  <% else  %>

    <div class="next-method hidden">
      <%= render 'reviews/review', review: review, i: i %>
    </div>

  <% end %>
<% end %>


