
<% if @movie.reviews.empty? %>
  <%= link_to 'Add a review', new_movie_review_path(@movie), class: "btn vegan-btn" %>
<% end %>

<% @reviews.each_with_index do |review, i| %>

  <% if i == 0 %>
  <div class="next-method current_element">
  <%= render 'reviews/review', review: review %>
  </div>

<% else  %>

  <div class="next-method hidden">
    <%= render 'reviews/review', review: review %>
  </div>

<% end %>
<% end %>


