<div class="home-btns">
  <div class="col-xs-4">
    <%= link_to "What's new?", movies_newest_path, class: "btn btn-home vegan-btn" %>
  </div>
  <div class="col-xs-4">
    <%= link_to "#{Time.now.year} Top 10",eval("movies_#{Time.now.year}_path"), class: "btn btn-home vegan-btn" %>
  </div>
  <div class="col-xs-4">
    <%= link_to "Archive", movies_path, class: "btn btn-home vegan-btn" %>
  </div>
  <div class="col-xs-12">
    <%= link_to "Review", new_movie_path, class: "btn btn-home vegan-btn", style: "background-color: #a1c45a; color: rgb(15,15,15);" %>
  </div>
</div>
