<div class="visible-xs-block xs-12">
  <div class="scrollbox-small">
    <div class="list">
      <% @movies.each do |movie| %>
        <%= link_to "#{movie.title}", movie_path(movie), class: "list-item" %>
      <% end %>
    </div>
   </div>
 </div>

  <div class="col-sm-2 hidden-xs">
    <div class="scrollbox">
      <div class="list">
        <% @movies.each_with_index do |movie, index| %>
         <%= link_to "#{movie.title}", movie_path(movie), remote: true, class: "list-item #{'active' if index == 0}" %>
       <% end %>
     </div>
   </div>
 </div>
