<meta HTTP-EQUIV="REFRESH" content="3; url=https://veganmoviecritic.herokuapp.com/home">
</meta>

    <div class="stars"></div>
    <div class="clouds"></div>

    <div class="col-xs-12">
      <div class="landing-title  text-type">
        <h3 class="text-center">
         Welcome to the Vegan Movie Critic
       </h3>
     </div>
   </div>

