
    <meta HTTP-EQUIV="REFRESH" content="4; url=http://localhost:3000/home">

    <div class="stars"></div>
    <div class="clouds"></div>

    <div class="col-xs-12">
      <div class="landing-title  text-type">
        <h3 class="text-center">
         Welcome to the Vegan Movie Critic
       </h3>
     </div>
   </div>

