<h1>
Welcome To The Vegan Movie Critic Website
</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi repellat quod inventore at nulla, perspiciatis eos dignissimos, accusamus autem blanditiis maxime dolores corporis eligendi fugiat beatae debitis sint veritatis aperiam.
</p>

<%= link_to 'Movies', movies_path, class: "btn btn-primary" %>
