<meta HTTP-EQUIV="REFRESH" content="2; url=localhost:3000/movies">
</meta>


    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(245, 245, 245, 0.58) 0%, rgba(132, 138, 142, 0.7) 50%), url(<%= image_path("background2.jpg")%>);">
      <div class="banner-content">
       <h2> Welcome to Vegan Movie Critic
       </h2>
       <p> About being vegan and being a movie critic!</p>

    </div>
</div>


