.fileinput-button {
  position: relative;
  overflow: hidden;
  margin-right: 4px;
  width: 110px;
  height: 32px;
  input[type="file"]{
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
}

.vegan-btn {
   color: $gray;
   background-color: $black;
   margin: 10px;
   border: $black solid 1px;
   transition: 400ms ease;
}

.vegan-btn:hover {
  opacity: 0.8;
  background-color: $gray;
  color: $black;
  border: $red solid 1px;
}

.movie-btn:hover {
  background-color:#878E76;
  color: white;
  transition: 500ms;

}

.movie-btn {
  width: 100px;
  height: 50px;
  background-color: #F79F79;
  color: black;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  padding-left: 100px;
}


