.card-background {
  height: 300px;
  width: 100%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-title h1 {
  font-size: 40px;
}

.card-content-container {
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  width: 100%;
  font-size: 18px;
}

@media (min-width: 700px) {

.review-content {
  left: 0;
  right: 0;
  margin: auto;
  padding: 8px;
}

.movie-title h1 {
  font-size: 40px;
}


}
@media (max-width: 700px) {
  .review-content {
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }

}

.card {
  padding: 10px;
  margin-bottom: 25px;
  border-bottom: $red 1px dotted;
}

.card-info-revshow {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-info {
  line-height: 30px;
  height: 300px;
}

.poster-info-box-revshow {
  margin-top: 10px;
  width: 222px;
}

.card-content-revshow {
  margin: 10px;
  width: 80%;
  padding: 10px;
}

.movie-card {
  border-radius: 4px;
  margin-top: 10px;
}

.movie-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .movie-list-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.movie-card-top {
  display: flex;
}

.movie-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.movie-img {
  width: 50%;
  img {
    border-radius: 5px;
  }
}
