.card {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.card-background {
  position: absolute;
}

.card-title{
  position: absolute;
}

.card-rating {
  position: absolute;
}

.card-content {
  position: absolute;

}


.card-btns {
  position: absolute;
}
