.scrollbox {
  height: 80vh;
  width: 100%;
  max-width:200px;
  overflow-x: visible;
  overflow-y: auto;
  background-color:$black;
  color:white;
  font-family:sans-serif;
  border-radius: 4px;
}
.scrollbox-small {
  height: 100vh;
  width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  background-color:$black;
  color:white;
  font-family:sans-serif;
  border-radius: 4px;

}
.list-item {
  height: 50px;
  border-bottom: 0.5px $red solid;
  display: flex;
  align-text: left;
  padding: 13px;
  color: $gray;
}

.list-item:hover {
  opacity: 0.3;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item a {
  color: $gray;
}
