.scrollbox {
  height: 90vh;
  width: 100%;
  max-width:250px;
  overflow-x: visible;
  overflow-y: auto;
  background-color:$gray;
  color:white;
  font-family:sans-serif;
  border-radius: 4px;
  margin-top: 5%;
}
.scrollbox-small {
  height: 100vh;
  width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  background-color:$gray;
  color: white;
  font-family:sans-serif;
  border-radius: 4px;

}
.list-item {
  height: 70px;
  border-bottom: 0.5px $red solid;
  display: flex;
  align-text: left;
  padding: 13px;
  color: green;
  transition: 200ms ease;
  text-decoration: none;
}

.list-item:hover {
  background-color: $red;
  color: $gray !important;
  text-decoration: none;

}

.list-item-active {
  background-color: $red;
  text-decoration: none !important;
  color: $gray;
}



.list {
  display: flex;
  flex-direction: column;
}

.list-item a {
  color: $gray;
}
