// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import url('https://fonts.googleapis.com/css?family=Trirong:400,500');


html *
{
  font-family: 'Trirong', serif;
}

h1 {
  font-family: 'Trirong'
}

body {
  background-color: #fafcf4;
}

.green-star {
  color: $red;
}

.red-star {
  color: $red;
}

h2 {
  font-size: 32px;
  position: relative;
  padding:10px 5px;
  display: inline-block;
  color: #474A48;
}

.title {
  left-padding: 60px;
  display: flex;
  justify-content: right;
  color: $green;
}

.EllynisAwesome {
  font-size: 300px;
  color: red;
}


